/* For Mobile-L-425px */

@media screen and (max-width: 426px) {
  /* nav section */

  header {
    box-shadow: none;
  }
  .nav-text,
  nav {
    flex-direction: column;
  }
  .nav-text {
    margin-bottom: 30px;
  }

  /* banner section */

  .banner-container {
    flex-direction: column-reverse;
    margin-bottom: 10px;
  }
  .banner-banner-text,
  .banner-image {
    width: 100%;
  }
  .banner-text {
    width: 80%;
    background-size: cover;
    text-align: start;
    padding: 30px 0px 30px 60px;
    margin: 0 auto;
  }
  .banner-text h2 {
    font-size: 1.5rem;
    margin: 0px;
  }
  .banner-text h1 {
    font-size: 3.2rem;
    margin-bottom: 0.6rem;
  }
  .icon-color {
    margin-right: 0.1rem;
    font-size: 0.7rem;
  }
  .icon-text {
    font-size: 0.7rem;
    font-weight: 500;
    margin-top: 0.4rem;
  }
  .btn-banner {
    color: white;
    background-color: #ff42a5;
    padding: 15px 25px;
    font-size: 0.7rem;
    font-weight: 600;
    border: none;
    border-radius: 48px;
    text-transform: uppercase;
    margin-right: 0.5rem;
    margin-top: 0.4rem;
  }
  .banner-image img {
    width: 100%;
    height: 100%;
  }

  /* we-are-gamer section */

  .weAreGamer {
    background: none;
    margin-bottom: 0.25rem;
  }
  .weAreGamer-container {
    flex-direction: column;
  }
  .weAreGamer-image {
    width: 100%;
  }
  .weAreGamer-text {
    width: 100%;
    padding: 0;
    text-align: center;
  }
  .weAreGamer-text h2 {
    font-size: 1.8rem;
    font-weight: 700;
    margin: 0;
  }
  .description {
    font-size: 0.7rem;
    font-weight: 400;
    margin: 1rem 0 1.5rem;
    line-height: 1rem;
  }
  .weAreGamer-text button {
    margin-bottom: 2.8rem;
  }
  .weAreGamer-text .Our-purpose {
    color: #534c64;
    font-size: 1.1rem;
    font-weight: 500;
  }
  .weAreGamer-text .unleash {
    color: #534c64;
    font-size: 1.3rem;
    font-weight: 700;
  }

  /* Online-games section */
  .gameCard-container {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .onlineGames-container h2,
  .liniear-gradient {
    font-size: 1.7rem;
  }
  .onlineGames-container > .description {
    margin: 0.7rem 0 3rem 0;
    font-size: 0.8rem;
  }
  .watchNow {
    top: 42%;
    left: 36%;
  }
  .gameCard .description {
    font-size: 0.85rem;
    margin: 1rem 0 0 0;
    font-weight: 500;
  }

  /* Games section style */
  .games-container {
    min-height: 300px;
    gap: 10px;
  }
  .singleGame {
    max-width: 180px;
    font-size: 0.62rem;
    gap: 0.7rem;
    padding: 5px;
  }
  .singleGame .gameImage {
    width: 24px;
    height: 24px;
  }
  .singleGame:hover {
    border: 0.7px solid #ff42a5;
  }

  /* footer section */
  .footer-logo {
    gap: 10px;
    margin: 3rem auto 1rem;
  }
  .footer-logo-image {
    width: 70px;
  }
  .footer-logo p {
    font-size: 2.4rem;
  }
  .footer-icon,
  .footer-links {
    grid-template-columns: repeat(3, 1fr);
  }
  .footer-links,
  .footer-icon {
    gap: 0.2rem;
    justify-items: center;
  }
  .footer-links {
    margin: 0 auto 2rem;
  }
  .footer-links p > a {
    font-size: 0.85rem;
  }
  .footer-icon {
    margin: 0 auto 1rem;
  }
  .footer-icon .fa-brands {
    font-size: 28px;
    margin: 0;
  }
  .footer-privecy {
    grid-template-columns: repeat(2, 1fr);
    gap: 0.2rem;
    margin: 2rem auto 2rem;
  }
  .footer-privecy .description {
    font-size: 0.8rem;
  }
  .footer-footer {
    display: block;
    text-align: center;
  }
  .footer-footer p {
    font-size: 0.8rem;
  }
}

/* For tablet  */

@media screen and (min-width: 427px) and (max-width: 769px) {
  /* nav section */

  nav {
    flex-direction: column;
  }
  .nav-text {
    margin-bottom: 20px;
  }

  /* banner section */
  .banner-container {
    flex-direction: column;
    margin-bottom: 10px;
  }
  .banner-banner-text,
  .banner-image {
    width: 100%;
  }
  .banner-text {
    width: 90%;
    background-size: contain;
    text-align: start;
    padding: 50px;
    margin: 0 auto;
  }
  .banner-text h2 {
    font-size: 2.4rem;
    margin: 0px;
  }
  .banner-text h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
  }
  .icon-color {
    margin-right: 0.6rem;
    font-size: 1.1rem;
  }
  .icon-text {
    font-size: 1.1rem;
    font-weight: 500;
    margin-top: 1.1rem;
  }
  .btn-banner {
    color: white;
    background-color: #ff42a5;
    padding: 18px 28px;
    font-size: 1.2rem;
    font-weight: 600;
    border: none;
    border-radius: 48px;
    text-transform: uppercase;
    margin-right: 1.2rem;
    margin-top: 1.1rem;
  }
  .banner-image img {
    width: 98%;
    height: 100%;
    display: block;
    margin: 0 auto;
  }

  /* we-are-gamer */
  .weAreGamer {
    background: none;
  }
  .weAreGamer-container {
    flex-direction: column-reverse;
  }
  .weAreGamer-image {
    width: 100%;
  }
  .weAreGamer-text {
    width: 100%;
    padding: 0;
    text-align: center;
  }
  .weAreGamer-text h2 {
    font-size: 2.2rem;
    font-weight: 700;
    margin: 0;
    margin-top: 2.8rem;
  }
  .description {
    font-size: 0.9rem;
    font-weight: 400;
    margin: 1rem 0 1.5rem;
    line-height: 1.2rem;
  }
  .weAreGamer-text button {
    margin-bottom: 3.1rem;
  }
  .weAreGamer-text .Our-purpose {
    color: #534c64;
    font-size: 1.4rem;
    font-weight: 500;
  }
  .weAreGamer-text .unleash {
    color: #534c64;
    font-size: 1.6rem;
    font-weight: 700;
  }

  /* online-games section */

  .gameCard-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 0.98rem;
  }
  .onlineGames-container h2,
  .liniear-gradient {
    font-size: 2.5rem;
  }
  .onlineGames-container > .description {
    margin: 0.8rem 0 4.2rem 0;
    font-size: 1.11rem;
  }
  .watchNow {
    top: 38%;
    left: 33%;
  }
  .gameCard .description {
    font-size: 0.98rem;
    margin: 0.6rem 0 0 0;
    font-weight: 500;
  }

  /* Games section style */
  .games-container {
    min-height: 450px;
    gap: 16px;
  }
  .singleGame {
    max-width: 250px;
    font-size: 0.8rem;
    gap: 0.6rem;
    padding: 7px;
  }
  .singleGame .gameImage {
    width: 40px;
    height: 40px;
  }
  .singleGame:hover {
    border: 1px solid #ff42a5;
  }
  /* footer section */
  .footer-icon,
  .footer-links {
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
  }
  .footer-privecy {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    margin: 0 auto 2rem;
  }
  .footer-footer {
    display: block;
    text-align: center;
  }
}
