/* For Mobile-L-425px */

@media screen and (max-width: 426px) {
  /* nav section */

  header {
    box-shadow: none;
  }
  .nav-text,
  nav {
    flex-direction: column;
  }
  .nav-text {
    margin-bottom: 30px;
  }
}

/* For tablet  */

@media screen and (min-width: 427px) and (max-width: 769px) {
  /* nav section */

  nav {
    flex-direction: column;
  }
  .nav-text {
    margin-bottom: 20px;
  }
}
